@import url('https://fonts.googleapis.com/css?family=Merriweather');

*{
    font-family: "Merriweather";
}

p{
    text-indent: 20px;
}

h3, h2{
    margin: 10%;   
}

.text_theme_company{
    background-image: url(forest3.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 500px;
    background-size: 100%;
    background-size: cover;
}

li a:hover{
    background: rgb(102, 175, 218);
    padding: 10px 0 10px 20px;
}

.nav-item{
    position: relative;
} 

img {
    z-index: -1;
    top:0;
    left:0; 
    min-width:100%;
}